img{
    width: 300px;
}

.header h1{
    text-align: center;
}

/**
navigation bar*/
.menu{
    background-color: rgb(247, 105, 2) ;
    
}
.menuList{
    list-style-type: none;
    margin: 0;
    padding: 15px;
    overflow: hidden;
}

.menuList li{
    float: left;
}

a{
    padding: 0 15px 0 15px;
    color: white;
    text-decoration: none;
    
}

ul a:hover:not(.active){
    background-color: #c3613c  ;
    padding: 20px;
}

/**
form1*/

textarea{
    overflow-y: scroll;
    height: 100px;
}

label{
      /* Uniform size & alignment */
  display: inline-block;
  width: 90px;
  text-align: left;
  margin: 0.5rem 0;
  min-width: 55px;
  
}
form > input{
    display: inline-block;
    text-align: right;
}
form {
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 50px 0 0;
    padding-bottom: 2em;
  }

.form2{
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 50px 0 0;
    padding-bottom: 2em;
}

.submitbtn{
    margin: 10px 0px 10px 0px;
}

